@model ContactApp.Models.Contact

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:30px">
    <div class="col-sm-12">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4>Editar Contacto</h4>
            </div>
            <div class="panel-body">
                <form action="@Url.Action("Edit", "Contact")" method="post">
                    <input type="hidden" class="form-control" name="IdContact" value="@Html.DisplayTextFor(m => m.IdContact)" />
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" class="form-control" name="Name" value="@Html.DisplayTextFor(m => m.Name)" />
                    </div>
                    <div class="form-group">
                        <label>Apellido</label>
                        <input type="text" class="form-control" name="LastName" value="@Html.DisplayTextFor(m => m.LastName)" />
                    </div>
                    <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" class="form-control" name="Phone" value="@Html.DisplayTextFor(m => m.Phone)" />
                    </div>
                    <div class="form-group">
                        <label>Correo</label>
                        <input type="text" class="form-control" name="Email" value="@Html.DisplayTextFor(m => m.Email)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a class="btn btn-warning" href="@Url.Action("Home", "Contact")">Volver</a>
                </form>
            </div>
        </div>
    </div>
</div>


